.git/
.env
.venv/
__pycache__/
*.pyc

# Local data (don't upload local runs/data to image)
runs/
data/cube/
data/raw/*
!data/raw/gee
data/raw/gee/*
!data/raw/gee/static

# Node
frontend/node_modules/
frontend/dist/
